<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Is it Sunny?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/css/sunny.css">
  </head>
  <body>
    <div style="text-align: center">
      <h1 style="display: inline-block">It is <i>Always</i> Sunny</h1>
    </div>

    <div class="resizing-input" style="text-align: center">
      <form id="when" action="/" method="POST">
        <input
          type="text"
          id="time"
          name="time"
          maxlength="12"
          size="12"
          autocomplete="off"
          value="<%= @provided_time unless @provided_time.nil? || @provided_time.strip.empty? %>"
        />
        <span></span>
        <nobr>&nbsp;on a&nbsp;</nobr>
        <input
          type="text"
          id="day"
          name="day"
          maxlength="12"
          size="12"
          autocomplete="off"
          value="<%= @provided_day unless @provided_day.nil? || @provided_day.strip.empty? %>"
        />
        <span></span>

        <input type="hidden" id="actualTime" name="actualTime">
        <input type="hidden" id="actualDay" name="actualDay">
      </form>
    </div>
    <div id="recommendation">
      <% unless @closest.nil? %>
        <p style="color: white"><%= @closest.first.title %></p>
      <% end %>
    </div>
  </body>

  <script src="/js/jquery-3.1.1.min.js"></script>
  <script src="/js/setup.js"></script>
  <script src="/js/balance.js"></script>
</html>
