<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Is it Sunny?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/css/sunny.css">
  </head>
  <body>
    <div style="text-align: center">
      <h1 style="display: inline-block">It is <i>Always</i> Sunny</h1>
    </div>

    <div class="resizing-input" style="text-align: center">
      <form id="when" action="/" method="POST">
        <input
          type="text"
          id="time"
          name="time"
          maxlength="8"
          size="8"
          autocomplete="off"
          value="<%= @time unless @time.nil? || @time.strip.empty? %>"
        />
        <span></span>
        <nobr>&nbsp;on a&nbsp;</nobr>
        <input
          type="text"
          id="day"
          name="day"
          maxlength="9"
          size="9"
          autocomplete="off"
          value="<%= @day unless @day.nil? || @day.strip.empty? %>"
        />
        <span></span>
      </form>
    </div>
  </body>

  <script src="/js/jquery-3.1.1.min.js"></script>
  <script src="/js/setup.js"></script>
  <script src="/js/balance.js"></script>
</html>
