@font-face {
  font-family: "Textile";
  src: url("/fonts/Textile.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: black;
}

form {
  margin: 20px;
  padding: 5px;
  font-color: white;
  display: inline-block;
}

form input {
  border: none;
  background: transparent;
  outline: none;
  font-family: courier new;
  font-size: 4vw;
  color: white;
}

.resizing-input span {
  display: none;
  font-family: courier new;
  font-size: 4vw;
}

nobr {
  color: white;
  font-family: courier new;
  font-size: 4vw;
}

*::-webkit-input-placeholder {
  color: white;
}

h1 {
  font-family: Textile;
  color: #FAD500;
  font-size: 8vw;
}

h2 {
  font-family: Textile;
  color: white;
  font-size: 5vw;
}

p {
  font-family: courier new;
  color: white;
  font-size: 4vw;
}
